:root {
  --primary: #e0e5ec;
  --secondary: #b9bec6;
  --light-shadow: #ffffff;
  --dark-shadow: #a3b1c6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  /*strech app component over complete screen*/
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 10%;
  height: 100%;
  min-width: 80px;
  transition: 0.2s ease-in-out;
}

.main {
  width: 90%;
  height: 100%;
  background-color: purple;
  transition: 0.2s ease-in-out;
}

/* mobile phones */
@media (max-width: 420px) {
}
