
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.app {
  /*strech app component over complete screen*/
  height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  background-color: var(--primary);
  overflow: hidden;
}

.app__sidebar {
  width: 0%;
  height: 100%;
  /* min-width: 80px; */
  transition: 0.2s ease-in-out;
  overflow: auto;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: scroll;
  overflow-x: hidden;
}

.app__main {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 2rem 0 0 2rem;

  transition: 0.2s ease-in-out;
  box-shadow: 6px 6px 12px 0 var(--dark-shadow),
    -6px -6px 12px 0 var(--light-shadow);
}

.chat {
  height: 85%;
  background-color: var(--primary);
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 2rem 0 0 2rem;
}

.chat__header {
  height: 20%;
  display: flex;
  align-items: center;
}

.contact__pic {
  width: 0%;
  /* padding-bottom to keep aspect ratio */
  padding-bottom: 5%;
  border-radius: 50%;
  box-shadow: 6px 6px 7px 0 #a3b1c6, -6px -6px 7px 0 #ffffff;
}

.contact__name {
  margin: 1rem;
  font-size: 200%;
}

.chat__messages {
  height: 80%;
  padding: 0 2rem 0 2rem;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  box-shadow: inset -6px -6px 16px 0 #ffffff, inset 6px 6px 16px 0 #a3b1c6;
  border-radius: 2rem;
}

.chat__messages ul {
  list-style-type: none;
}

.chat__messages ul li {
  display: flex;
}

.input {
  height: 15%;
  background-color: var(--primary);
  padding: 1rem 2rem 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input input {
  height: 50%;
  width: 90%;
  font-size: 1rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border: none;
  outline: none;
  box-shadow: inset -6px -6px 16px 0 #ffffff, inset 6px 6px 16px 0 #a3b1c6;
  background-color: var(--primary);
}

.input button {
  height: 50%;
  width: 5%;
  box-shadow: 6px 6px 7px 0 #a3b1c6, -6px -6px 7px 0 #ffffff;
  background-color: var(--primary);
  border-radius: 2rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.input button:hover {
  box-shadow: 6px 6px 16px 0 #a3b1c6, -6px -6px 16px 0 #ffffff;
  transition: 0.2s ease-in-out;
}

.input button img {
  width: 50%;
}

/* responsive settings */

/* mobile phones */
@media (max-width: 420px) {
}
